<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Créer un matériel</title>
    <link rel="stylesheet" href="/static/main.js">
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li>Tâches :</li>
        <ul>
            <li><a href="/tasks/list">Liste des tâches</a></li>
            <li><a href="/tasks/create">Créer une tâche</a></li>
        </ul>
        <li>Projets :</li>
        <ul>
            <li><a href="/projects/list">Liste des projets</a></li>
            <li><a href="/projects/create">Créer un projet</a></li>
        </ul>
        <li>Protections :</li>
        <ul>
            <li><a href="/protections/list">Liste des protections</a></li>
            <li><a href="/protections/create">Créer une protection</a></li>
        </ul>
        <li>Matériels :</li>
        <ul>
            <li><a href="/materials/list">Liste des matériels</a></li>
            <li><a href="/materials/create">Créer un matériel</a></li>
        </ul>
        <li>Consommables :</li>
        <ul>
            <li><a href="/consumables/list">Liste des consommables</a></li>
            <li><a href="/consumables/create">Créer un consommable</a></li>
        </ul>
    </ul>
</nav>

    <div class="container">
        <h1>Créer un nouveau matériel</h1>
        <form action="/materials/create" method="post">
            <label for="name">Nom:</label>
            <input type="text" id="name" name="name" required>
            <label for="quantity">Quantité:</label>
            <input type="number" id="quantity" name="quantity" >
            <button type="submit">Créer</button>
        </form>
        <a href="/materials/list">Retour à la liste des matériels</a>
    </div>
</body>
</html>
