{% extends "base.html" %}

{% block content %}
  <h2>Materials</h2>
  <table>
    <thead>
      <tr>
        <th><a href="{{ url_for('materials.list_items', sort_by='name', direction='asc') }}">Name</a></th>
        <th><a href="{{ url_for('materials.list_items', sort_by='quantity', direction='asc') }}">Quantity</a></th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td><a href="{{ url_for('materials.item_details', id=item.id) }}">{{ item.name }}</a></td>
          <td>{{ item.quantity }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{{ url_for('materials.create_item') }}">Create New Material</a>
{% endblock %}
