{% extends "base.html" %}

{% block content %}
  <h2>Protocols</h2>
  <table>
    <thead>
      <tr>
        <th><a href="{{ url_for('protocols.list_items', sort_by='name', direction='asc') }}">Name</a></th>
        <th><a href="{{ url_for('protocols.list_items', sort_by='goal', direction='asc') }}">Goal</a></th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td><a href="{{ url_for('protocols.item_details', id=item.id) }}">{{ item.name }}</a></td>
          <td>{{ item.goal }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{{ url_for('protocols.create_item') }}">Create New Protocol</a>
{% endblock %}
